@font-face {
  font-family: "AndaleMono";
  src: url("./AndaleMono.ttf"); }

body {
  font-family: "AndaleMono"; }

nav > ul {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav > ul li ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  nav > ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 20px; }
    nav > ul li a:hover {
      background: url(../images/nav_bg.svg) no-repeat center 10px;
      background-size: contain; }
  nav > ul li.active {
    background: url(../images/nav_bg.svg) no-repeat center 10px;
    background-size: contain; }

.page_s {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  width: 100%;
  position: absolute;
  top: 98px;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .page_s .start {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -65px -250px;
    text-align: center; }
    .page_s .start > p {
      margin-bottom: 50px;
      font-size: 24px; }
      .page_s .start > p button {
        font-size: 24px;
        padding: 15px 40px;
        color: whitesmoke;
        background-color: #ffa9a9;
        border-radius: 40px;
        border: none;
        letter-spacing: 7px;
        cursor: pointer; }
    .page_s .start div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .page_s .start div p {
        font-size: 16px;
        letter-spacing: 3px;
        margin: 0 20px; }
        .page_s .start div p span {
          font-size: 22px;
          font-weight: bold; }
          .page_s .start div p span.orange {
            color: #da701f; }
          .page_s .start div p span.blue {
            color: #60b7e5; }
  .page_s .work {
    margin: -102px -140px;
    display: none; }
    .page_s .work button {
      background-color: #ffa9a9; }
  .page_s .break {
    margin: -102px -244px;
    display: none; }
    .page_s .break button {
      background-color: #60b7e5; }
  .page_s .work,
  .page_s .break {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center; }
    .page_s .work p,
    .page_s .break p {
      font-size: 24px;
      letter-spacing: 3px; }
      .page_s .work p span,
      .page_s .break p span {
        letter-spacing: 3px;
        text-decoration: underline;
        cursor: pointer; }
    .page_s .work button,
    .page_s .break button {
      width: 56px;
      height: 56px;
      margin: 50px 0;
      border-radius: 50%;
      border: none;
      color: whitesmoke;
      cursor: pointer; }
      .page_s .work button i,
      .page_s .break button i {
        font-size: 20px;
        text-align: center;
        line-height: 56px; }

.page_t {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 100%;
  position: absolute;
  top: 98px;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page_a {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 100%;
  position: absolute;
  top: 98px;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page_r {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 100%;
  position: absolute;
  top: 98px;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
