.page_t {
  transform: translateX(-100%);
  width: 100%;
  position: absolute;
  top: 98px;
  bottom: 0;
  transition: 0.5s;
  @media (max-width: 767px) {
    top: 69px;
  }
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    ul > li {
      h5 {
        font-size: 24px;
        letter-spacing: 2.71px;
        padding: 24px;
        cursor: pointer;
        @media (max-width: 767px) {
          padding: 16px 10px;
        }
      }
    }
  }
}
