.page_s {
  transform: translateX(0%);
  width: 100%;
  position: absolute;
  top: 98px;
  bottom: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    top: 69px;
  }
  .start {
    max-width: 100%;
    text-align: center;
    & > p {
      margin-bottom: 50px;
      font-size: 24px;
      button {
        font-size: 24px;
        padding: 15px 40px;
        color: whitesmoke;
        background-color: #ffa9a9;
        border-radius: 40px;
        border: none;
        letter-spacing: 7px;
        cursor: pointer;
      }
    }
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      p {
        font-size: 16px;
        letter-spacing: 3px;
        margin: 20px;
        span {
          font-size: 22px;
          font-weight: bold;
          &.orange {
            color: #da701f;
          }
          &.blue {
            color: #60b7e5;
          }
        }
      }
    }
    @media (max-width: 767px) {
      margin: -116px -212px;
    }
  }
  .work {
    display: none;
    button {
      background-color: #ffa9a9;
    }
  }
  .break {
    button {
      background-color: #60b7e5;
    }
  }
  .work,
  .break {
    display: none;
    text-align: center;
    p {
      font-size: 24px;
      letter-spacing: 3px;
      span {
        letter-spacing: 3px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    button {
      width: 56px;
      height: 56px;
      margin: 50px 0;
      border-radius: 50%;
      border: none;
      color: whitesmoke;
      cursor: pointer;
      i {
        font-size: 20px;
        text-align: center;
        line-height: 56px;
      }
    }
  }
}
